.idea/workspace.xml
old_preprocessing.py
.DS_Store
genia-tagger-py/
geniatagger-3.0.2/
geniatagger-3.0.2.tar.gz
IERCT/
nltk_learn.ipynb
GENIA-Tagger.pdf
GeniaCorpus.pdf
PyCharm/
Reports/
Previous\ Works/
UGProjects2018.pdf
